html,
body {
    overflow-x: hidden;

    min-width: 880px;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
}



.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-header {

    background: linear-gradient(89deg, #7f3bfa, #00ca74, #d54aef);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 8s ease infinite;
    -moz-animation: AnimationName 8s ease infinite;
    animation: AnimationName 8s ease infinite; }

@-webkit-keyframes AnimationName {
    0%{background-position:0% 54%}
    50%{background-position:100% 47%}
    100%{background-position:0% 54%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 54%}
    50%{background-position:100% 47%}
    100%{background-position:0% 54%}
}
@keyframes AnimationName {
    0%{background-position:0% 54%}
    50%{background-position:100% 47%}
    100%{background-position:0% 54%}
}

    /*background-color: #eeeeee;*/




.container {
    width: 880px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;

}

.main {
    background-color: white;
}

.header-logo {
    float: left;
    margin-right: 183px;
}

.main-navigation {
    float: left;
    margin-top: 27px;
}

.user-block {
    float: right;
    margin-top: 27px;
}

.static-header {
    padding-top: 27px;
    margin-bottom: 42px;
}

.slider-content {
    float: left;
    width: 365px;
    margin-top: 21px;
    margin-bottom: 80px;
}

.slider-img {
    float: right;
}

.main-header {
    margin-bottom: 80px;
}

/*
Майн, Промо блоки Веб-сайты, приложения, призентации
 */

.services-item {
    float: left;
    width: 240px;
    margin-right: 80px;
}

.services object{
    margin-bottom: 12px;
}

.services-item:last-child {
    margin-right: 0;
}

.services {
    margin-bottom: 80px;
}

.line-services{
    margin-bottom: 65px;
}

/*
Блог о нас!
 */

.aboutUs-column-left {
    float: left;
    width: 582px;
}

.aboutUs-column-right {
    float: right;
    width: 240px;
}

.aboutUs-logo-img {
    width: 185px;
    margin-left: auto;
    margin-right: auto;
}

.aboutUs-logo  {
    text-align: center;
}

.aboutUs {
    margin-bottom: 53px;
}

.line-aboutUs {
    margin-bottom: 45px;
}

/*
Блог наши работы
 */

.works-img {
    float: left;
}

.works-img:nth-child(1) {
    margin-right: 120px;
    padding-top: 20px;

    opacity: 0.2;
}

.works-img:nth-child(2) {
    margin-right: 123px;

    opacity: 0.2;
}

.works-img:last-child {
    opacity: 0.2;
}

/*Декорация блока наши работы*/
/*Наведение*/
.works-img:nth-child(1):hover {
    opacity: 1;
}

.works-img:nth-child(2):hover {
    opacity: 1;
}

.works-img:last-child:hover {
    opacity: 1;
}
/*Нажатие*/

.works-img:nth-child(1):active {
    opacity: 1;
}

.works-img:nth-child(2):active {
    opacity: 1;
}

.works-img:last-child:active {
    opacity: 1;
}



.works {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 31px;
}

.line-works {
    margin-bottom: 80px;
}

.contacts-item {
    float: left;
    width: 210px;
    padding: 20px;
    padding-top: 25px;


}

.contacts {
    margin-bottom: 80px;
}

/*
Футер
 */

.share {
    float: left;

}

.footer-title {
    float: right;
    margin-right: 20px;
}

.main-footer {
    margin-bottom: 10px;
}



/*
Декорация главной навигации
 */

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-navigation li {
    display: inline-block;
    margin-right: 40px;
}

.main-navigation a,
.user-block a {
    color: #000000;

    text-transform: uppercase;
    text-decoration: none;


}

.main-navigation a:hover,
.user-block a:hover {
    color: red;
}




.basket {
    display: inline-block;

    padding-left: 50px;

    vertical-align: top;


    position: relative;
}



.basket::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 20px;

    width: 15px;
    height: 15px;

    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;

    background-position: -70px -70px;
    display: block;



}





.basket:hover::before {
    opacity: 1;
}










/*
Декорация Слайдера
 */

.slider-name {
    font-size: 36px;
    line-height: 28px;
}

.slider-content p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 25px;
}


/*
Декорация кнопок
 */

.btn {
    display: inline-block;
    padding: 10px 71px;


    color: #ffffff;
    background-color: #fb565a;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    vertical-align: top;

    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    font-family: inherit;
    text-transform: uppercase;
    text-decoration: none;

    border-radius: 3px;

}

/*
Декорация сервиса
 */

.services-name {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}
.services p {
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 20px;
}
.services-item .btn {
    padding: 10px 40px;
}


/*
Декорация кнопок в блоке сервис (веб сайты, приложения, призентации)
 */

.btn-site {
    background-color: #fb565a;
}

.btn-app {
    background-color: #00ca74;
}

.btn-presentation {
    background-color: #efc84a;
}
/*Наведение*/
.btn-site:hover {
    background-color: #d6494d;
}

.btn-app:hover {
    background-color: #01a25e;
}

.btn-presentation:hover {
    background-color: #d6ae2c;
}
/*Нажатие*/
.btn-site:active {
    background-color: #b63538;
}

.btn-app:active {
    background-color: #009053;
}

.btn-presentation:active {
    background-color: #c09b24;
}



hr {
    background-color: #eeeeee;
    opacity: 0.3;
}

/*
О нас aboutUs
 */

.aboutUs-title {
    font-size: 36px;
    line-height: 34px;

}



.aboutUs-column-left p {
    margin-top: 10px;
    padding: 0;
    margin-bottom: 43px;

    font-size: 16px;
    line-height: 22px;
}

.aboutUs-column-left ul,
.aboutUs-column-right ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.aboutUs-column-left li,
.aboutUs-column-right li {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 22px;
}

.aboutUs-column-left li::before,
.aboutUs-column-right li::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;

    background-color: #fb565a;
    width: 25px;
    height: 2px;
}

.aboutUs-column-left ul b,
.aboutUs-column-right ul b {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 23px;

    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

/*
Декорация Логотипа в блоке о нас
 */

.aboutUs-logo span {
    font-size: 16px;

    text-transform: uppercase;
}

.aboutUs-logo span::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;

    background-color: #eeeeee;

    width: 65px;
    height: 2px;
}

.aboutUs-logo span::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;

    background-color: #eeeeee;

    width: 65px;
    height: 2px;
}

.contacts {

}

.map-img {
    background: url("../img/map.jpg") no-repeat center;

    width: 1199px;
    height: 416px;
    position: relative;
    left: -160px;

}

.contacts-item {
    position: absolute;
    left: 160px;
    top: 90px;

    background-color: #ffffff;
}

.contacts-item p,
.contacts-item span {
    margin-top: 12px;
    margin-bottom: 15px;

    font-size: 16px;
    line-height: 20px;
    color: #666666;
}

.contacts-item b {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;

}

.contacts-item .btn {
    margin-top: 23px;
    margin-left: 2px;


    padding-left: 50px;
    padding-right: 50px;
    width: 105px;
}




.social {
    width: 60px;
    height: 60px;
    display: inline-block;
    font-size: 0;
    margin-right: 25px;

    background: #e1e1e1 url("../img/spritesheet.png") no-repeat;

    /* рисуем Круг */




    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.social-fb {

    background-position: -201px -52px;


}


.social-in{
    background-position: -357.5px -50.5px;
}

.social-vk{
    background-position: -521px -47.5px;
}

.social:hover {
    background-color: #fb565a;
}

.social:active {
    background-color: #d6494d;
}


.footer-title-name {
    font-size: 36px;
    line-height: 36px;
}

.footer-title p {
    font-size: 16px;
    line-height: 22px;

    margin: 0;
    
}


